global
    maxconn 128

defaults
    mode tcp
    timeout connect 3s
    timeout client 30s
    timeout server 30s

listen postgres
    bind 0.0.0.0:5432
    option httpchk GET /primary
    http-check expect status 200
    server pg1 pg1:5432 check port 8008 inter 1s fall 2 rise 1 on-marked-down shutdown-sessions
    server pg2 pg2:5432 check port 8008 inter 1s fall 2 rise 1 on-marked-down shutdown-sessions
