[Unit]
Description=Create a consistent LeapView backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/leapviewctl backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
