[Unit]
Description=Create daily LeapView backups

[Timer]
OnCalendar=*-*-* 03:15:00
RandomizedDelaySec=2h
Persistent=true
Unit=leapview-backup.service

[Install]
WantedBy=timers.target
